@page "/about"

<PageTitle>About</PageTitle>

<div class="flex flex-wrap items-center gap-6 text-gray-700 mt-4 justify-start">
    <div>
        <span class="font-medium">Email:</span>
        <a href="mailto:hello@example.com" class="text-blue-600 hover:underline">
            hello@example.com
        </a>
    </div>

    <div>
        <span class="font-medium">Phone:</span>
        <a href="tel:+441234567890" class="text-blue-600 hover:underline">
            +44 1234 567890
        </a>
    </div>

    <div>
        <span class="font-medium">Location:</span>
        Albrighton, UK
    </div>
</div>

<br>

<p>My name is Becca Lloyd-Jenkins. A creative soul from Albrighton who blends artistry with culinary delight—this graphic designer is not only passionate about bold layouts and vibrant visuals, but also skilled in the delicate craft of pastry. Whether they’re whipping up elegant éclairs or designing eye-catching branding, their attention to detail shines through. When not at the computer or in the kitchen, they can often be found strolling the village with their beloved sausage dog, who adds a bit of charm and mischief to their daily routine.</p>