@page "/about"
@inject NavigationManager NavigationManager

<PageTitle>About</PageTitle>

<div class="max-w-5xl mx-auto">
    <div class="flex flex-col md:flex-row items-start gap-0 px-4 md:px-6 py-8">
  <!-- Text Section -->
  <div class="md:w-1/2 md:flex-grow">
    <h1 class="text-3xl mb-3">
        Hey there! I’m Becca
    </h1>
    <div>
        <span class="font-medium">Email:</span>
        <a href="mailto:beccamaedesigns@outlook.com" class="text-blue-600 hover:underline">
            beccamaedesigns@outlook.com
        </a>
    </div>

    <div class="mb-3">
        <span class="font-medium">Location:</span>
        Shropshire
    </div>
    <p class="mb-3">
      I'm a graphic designer and illustrator based in Shropshire who believes life’s too short for boring designs.
    </p>
    <p class="mb-3">
      In my spare time, you may find me having food with friends, making aesthetically pleasing latte art, cuddling with my miniature dachshund Peanut or even baking up a sweet treat. However, I do also love being active at the gym, or trying to stay upright on a paddle board somewhere in Devon.
    </p>
    <p class="mb-3">
      I love mixing creativity, colour, and a little bit of chaos into everything I do — and I’m always on the lookout for my next fun project!
    </p>
    <p class="mb-3">
      My mission is to create playful, colourful art that spreads joy, sparks connection, and adds a little extra magic to everyday life—whether through vibrant illustrations, playful prints, or one-of-a-kind custom designs.
    </p>
  </div>

  <!-- Image Section -->
  <div class="md:w-1/2 flex justify-center md:justify-end">
    <img src="@($"{baseUrl}images/AboutMe.jpg")"
         alt="About Me"
         class="w-full max-w-md h-auto rounded-lg md:rotate-1 md:scale-105 transition-transform duration-300" />
  </div>
</div>
</div>

@code {
    private string baseUrl = "/";

    protected override void OnInitialized() {
        baseUrl = NavigationManager.BaseUri;
    }
}