@page "/image-gallery"
@inject NavigationManager NavigationManager

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @foreach (var folder in Folders)
    {
        <div class="overflow-hidden rounded-lg shadow-lg">
            <NavLink href="@($"{baseUrl}folder/{folder.Name}")" class="block">
                <img class="w-full h-full object-cover" loading="lazy" src="@($"{baseUrl}images/{folder.Name}/{folder.Thumbnail}")" alt="@folder.Description" />
            </NavLink>
            <figcaption class="text-center py-2">@folder.Description</figcaption>
        </div>
    }
</div>

@code {
    private string baseUrl = "/";

    protected override void OnInitialized()
    {
        baseUrl = NavigationManager.BaseUri;
    }

    private List<FolderModel> Folders = new List<FolderModel>
    {
        new FolderModel { Name = "383Canvas", Description = "383 Project", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "ChildrenBooks", Description = "Monty Moo Children's Book", Thumbnail = "thumbnail.JPG" },
        new FolderModel { Name = "CocaCola", Description = "Coca-Cola x World Cup", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "EmployabilityPortfolio", Description = "Employability Portfolio", Thumbnail = "thumbnail.png" },
        new FolderModel { Name = "FloralMural", Description = "Floral Mural", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "MenuDesign", Description = "1232 Menu Design", Thumbnail = "thumbnail.png" },
        new FolderModel { Name = "PigeonMag", Description = "Pigeon Magazine", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "Purify", Description = "Purify Website Design", Thumbnail = "thumbnail.png" },
        new FolderModel { Name = "REDCards", Description = "REDs Fortune Cards", Thumbnail = "thumbnail.JPG" },
        new FolderModel { Name = "SameDifference", Description = "Same Difference Festival", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "Stamps", Description = "King Charles Stamps", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "StarWarsMural", Description = "Star Wars Mural", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "Syrup", Description = "Syrup x Mental Health", Thumbnail = "thumbnail.jpg" },
        new FolderModel { Name = "TonysChocolonely", Description = "Tony's Chocolonely", Thumbnail = "thumbnail.png" },
        new FolderModel { Name = "PetDrawings", Description = "Pet Drawings", Thumbnail = "THUMBNAIL.png" },
        new FolderModel { Name = "HouseDrawings", Description = "House Drawings", Thumbnail = "THUMBNAIL.png" },
        new FolderModel { Name = "ChalkBoards", Description = "Chalk Boards", Thumbnail = "thumbnail.jpeg" },
    };

    public class FolderModel
    {
        public required string Name { get; set; }
        public required string Description { get; set; }
        public required string Thumbnail { get; set; }
    }
}
